.head-left {
  width: 50%;
  background-color: var(--grey-light);
}
.hero-caption {
  width: 78%;
  

  span {
    background-color: var(--grey);
  }
}



.search {
  border: 1px solid var(--grey-light);
  background-color: var(--white);

  input {


    placeholder {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--text-color);
    }
  }
}

