.advert {
  background-color: var(--brown);
  span {
    color: var(--white);
  }
}

.navbar {
  background-color: var(--white);
}

.nav-right {
  ul {
    a {
      color: var(--main-color);
    }
  }
}

.cart {
  border: 1px solid var(--grey);
  box-shadow: 1px 1px 1px var(--grey);
  p {
    color: var(--main-color);
  }
}
